In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
d=pd.read_csv("/home/kalyan/Downloads/Titanic-Dataset.csv")

In [4]:
df=pd.DataFrame(d)
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Gender   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [22]:
data = df[['Age', 'Fare', 'Survived']].to_numpy() #to_numpy() is used for coverting data frames into numpy arrays
print(data)

[[22.      7.25    0.    ]
 [38.     71.2833  1.    ]
 [26.      7.925   1.    ]
 ...
 [    nan 23.45    0.    ]
 [26.     30.      1.    ]
 [32.      7.75    0.    ]]

In [24]:
clean_data = data[~np.isnan(data).any(axis=1)]
#This line removes rows containing any NaN values from a NumPy array `data` axis=1 specifiesrow 
#~ inverts to keep only rows.

In [7]:
age_mean, age_std = np.mean(clean_data[:, 0]), np.std(clean_data[:, 0]) 
#calculates the mean (age_mean) and standard deviation (age_std) of the first column (index 0) in the clean_data array, which typically represents age values in the dataset.
fare_mean, fare_std = np.mean(clean_data[:, 1]), np.std(clean_data[:, 1]) 
#calculates the mean (`fare_mean`) and standard deviation (`fare_std`) of the second column (index 1) in `clean_data`, which contains fare values.
clean_data[:, 0] = (clean_data[:, 0] - age_mean) / age_std  
clean_data[:, 1] = (clean_data[:, 1] - fare_mean) / fare_std

In [8]:

survived = clean_data[clean_data[:, 2] == 1] # filters `clean_data` to create a new array `survived` containing only rows where the third column (index 2, survival status) equals 1 (indicating passengers who survived).

#filters `clean_data` to create a new array `not_survived` containing only rows where the third column (index 2, survival status) equals 0 .
not_survived = clean_data[clean_data[:, 2] == 0]

mean_age_survived = np.mean(survived[:, 0]) #calculates the average age (`mean_age_survived`) from the first column (index 0) of the `survived` array containing passengers who survived.
mean_fare_survived = np.mean(survived[:, 1])

mean_age_not_survived = np.mean(not_survived[:, 0])
mean_fare_not_survived = np.mean(not_survived[:, 1])

print("Survivors - Mean age:", mean_age_survived, "Mean fare:", mean_fare_survived)
print("Non-survivors - Mean age:", mean_age_not_survived, "Mean fare:", mean_fare_not_survived)

Survivors - Mean age: -0.09337269255785864 Mean fare: 0.3242830655233994
Non-survivors - Mean age: 0.06386339821174336 Mean fare: -0.22179737972119304

In [25]:

original_fares = data[~np.isnan(data).any(axis=1)][:, 1]  # Get clean fares


fare_mean = np.mean(original_fares) #calucates_mean
fare_classification = np.where(original_fares < fare_mean, "Low", "High") #calssification of fares is performed which are less than fare_mean

fare_class_numeric = np.where(original_fares < fare_mean, 0, 1)
clean_data = np.column_stack((clean_data, fare_class_numeric))

In [10]:
data2=pd.read_excel("/home/kalyan/Downloads/iris.xlsx")

In [11]:
pip install openpyxl==3.1.0

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl==3.1.0 in ./.local/lib/python3.10/site-packages (3.1.0)
Requirement already satisfied: et-xmlfile in /usr/lib/python3/dist-packages (from openpyxl==3.1.0) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [16]:
data2=pd.read_excel("/home/kalyan/Downloads/iris.xlsx") #loads the  excel data

In [17]:
iris=pd.DataFrame(data2) # creates dataframe

In [18]:
iris   #prints the dataframe

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [21]:
# 2. Create ratio
iris['petal_ratio'] = iris['petal.length'] / iris['petal.width']

# 3a. Average ratio by species
print("Average petal ratio by species:")
print(iris.groupby('variety')['petal_ratio'].mean())

# 3b. Highest sepal length std
print("\nSpecies with highest sepal length std:", 
      iris.groupby('variety')['sepal.length'].std().idxmax())

# 3c. Filter wide sepals
wide_sepals = iris[iris['sepal.width'] > iris['sepal.width'].mean()]
print("\nRows with above-mean sepal width:", len(wide_sepals))

# 3d. Split and combine
combined = pd.concat([
    iris[iris['petal_ratio'] < 2],
    iris[iris['petal_ratio'] >= 2]
], axis=0)
print("\nCombined DataFrame shape:", combined.shape)

Average petal ratio by species:
variety
Setosa        6.908000
Versicolor    3.242837
Virginica     2.780662
Name: petal_ratio, dtype: float64

Species with highest sepal length std: Virginica

Rows with above-mean sepal width: 67

Combined DataFrame shape: (150, 6)