In [5]:
# Import the required packages
import pandas as pd
import numpy as np
import re

# <u>**Problem 1**</u>

### You are given a list of urls. You need to extract the domain name from the urls in another list. Also you need to extract the ending string which the url ends with.

### For example, https://www.example.com/market.php -- In this example, domain name is <code>www.example.com</code> and the ending string is <code>php</code>

In [2]:
# List of urls
url_list = ['https://blog.hubspot.com/marketing/parts-url',
            'https://www.suretrust.com/internships',
            'https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html',
            'https://www.programiz.com/python-programming/list']

In [16]:
# Extract the domains and the ending string. Hint : use the split method for a string
domain_list=[]
ending_string_list =[]
for url in url_list:
    domain_list.append(re.search(r'https?://(?:www\.)?([^/]+)',url).group(1))
    ending = re.search(r'/([^/.]*)\.?([^/]*)$', url)
    ending_string_list.append(ending.group(2) if ending.group(2) else ending.group(1))

print(domain_list)

print(ending_string_list)

['blog.hubspot.com', 'suretrust.com', 'pandas.pydata.org', 'programiz.com']
['parts-url', 'internships', 'DataFrame.rename.html', 'list']

## Next create a pandas dataframe with the above three lists.

In [24]:
# Your code here. Hint : zip the three lists
list_of_tuples = list(zip(url_list,domain_list,ending_string_list))
print(list_of_tuples)

# Create the dataframe and name the columns as 'Url', 'Domain', 'Ending_string'
url_info_frame = pd.DataFrame(list_of_tuples,columns=['Url', 'Domain', 'Ending_string'])

# Print the dataframe
print(url_info_frame)

[('https://blog.hubspot.com/marketing/parts-url', 'blog.hubspot.com', 'parts-url'), ('https://www.suretrust.com/internships', 'suretrust.com', 'internships'), ('https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html', 'pandas.pydata.org', 'DataFrame.rename.html'), ('https://www.programiz.com/python-programming/list', 'programiz.com', 'list')]
                                                 Url             Domain  \
0       https://blog.hubspot.com/marketing/parts-url   blog.hubspot.com
1              https://www.suretrust.com/internships      suretrust.com
2  https://pandas.pydata.org/pandas-docs/stable/r...  pandas.pydata.org
3  https://www.programiz.com/python-programming/list      programiz.com

           Ending_string
0              parts-url
1            internships
2  DataFrame.rename.html
3                   list

# Problem 2

### **Problem Statement:**
You are given sales data for a small electronics store. The store sells various products like laptops, smartphones, and tablets. Your task is to create a pandas DataFrame from scratch using the given data and perform some basic analysis.

#### **Instructions:**
1. Create a pandas DataFrame with the following columns:
   - `'Product'`: Name of the product  
   - `'Category'`: Type of product (Laptop, Smartphone, Tablet)  
   - `'Price'`: Price of the product (in USD)  
   - `'Units Sold'`: Number of units sold  

2. Use the following data to populate the DataFrame:  

   | Product              | Category    | Price | Units Sold |
   |----------------------|------------|-------|------------|
   | MacBook Air         | Laptop     | 999   | 35         |
   | Dell XPS 13         | Laptop     | 1199  | 25         |
   | iPhone 14           | Smartphone | 799   | 50         |
   | Samsung Galaxy S23  | Smartphone | 899   | 40         |
   | iPad Pro            | Tablet     | 1099  | 30         |

3. **Perform Basic Analysis on the DataFrame**:
   - Print the first 5 rows of the DataFrame.
   - Print the number of rows and columns.
   - Print the number of elements in the dataframe.
   - Print the column names.
   - Check for missing values.
   - Print basic statistics.

---

---

### **Expected Output:**
```
First 5 rows of the DataFrame:
             Product    Category  Price  Units Sold
0     MacBook Air     Laptop    999         35
1     Dell XPS 13     Laptop   1199         25
2     iPhone 14   Smartphone    799         50
3     Samsung Galaxy S23  Smartphone    899         40
4     iPad Pro        Tablet   1099         30

Shape of the DataFrame (rows, columns): (5, 4)

Total number of elements in the DataFrame: 20

Column names: ['Product', 'Category', 'Price', 'Units Sold']

Missing values in each column:
Product       0
Category      0
Price         0
Units Sold    0
dtype: int64

Summary statistics of numerical columns:
             Price  Units Sold
count     5.000000   5.000000
mean   999.000000  36.000000
std    146.759473   9.354143
min    799.000000  25.000000
25%    899.000000  30.000000
50%    999.000000  35.000000
75%   1099.000000  40.000000
max   1199.000000  50.000000
```

In [27]:
data={"product":["MacBook Air","Dell XPS 13","iPhone 14","Samsung Galaxy S23","iPad Pro"],
      "Category":["Laptop","Laptop","SmartPhone","smartphone","Tablet"],"Price":[999,1199,799,899,1099],"Units Sold":[35,25,50,40,30]}

In [28]:
df=pd.DataFrame(data)

In [29]:
df

              product    Category  Price  Units Sold
0         MacBook Air      Laptop    999          35
1         Dell XPS 13      Laptop   1199          25
2           iPhone 14  SmartPhone    799          50
3  Samsung Galaxy S23  smartphone    899          40
4            iPad Pro      Tablet   1099          30

In [41]:
print("First 5 rows of the DataFrame:")
print(df.head())
print()
print("Shape of the DataFrame (rows, columns):",df.shape)
print()
print("Total number of elements in the DataFrame:",df.size)
print()
print("Column names:",list(df.columns))
print("Missing values in each column:")
print(df.isnull().sum())
print()
print("Summary statistics of numerical columns:")
print(df.describe())

First 5 rows of the DataFrame:
              product    Category  Price  Units Sold
0         MacBook Air      Laptop    999          35
1         Dell XPS 13      Laptop   1199          25
2           iPhone 14  SmartPhone    799          50
3  Samsung Galaxy S23  smartphone    899          40
4            iPad Pro      Tablet   1099          30

Shape of the DataFrame (rows, columns): (5, 4)

Total number of elements in the DataFrame: 20

Column names: ['product', 'Category', 'Price', 'Units Sold']
Missing values in each column:
product       0
Category      0
Price         0
Units Sold    0
dtype: int64

Summary statistics of numerical columns:
             Price  Units Sold
count     5.000000    5.000000
mean    999.000000   36.000000
std     158.113883    9.617692
min     799.000000   25.000000
25%     899.000000   30.000000
50%     999.000000   35.000000
75%    1099.000000   40.000000
max    1199.000000   50.000000